.timerContainer {
  font-family: "Concert One", cursive;
  color: var(--text);
  background-color: var(--accent1);
  display: flex;
  justify-content: center;
  align-items: center;

  margin-inline: 1.5em;
  border-radius: 2em;

  box-shadow: 5px 5px rgba(255, 255, 255, 0.2);
}

.time {
  float: left;
  text-align: left;
  font-size: 1.5em;
  padding: 0.7em;
}

.num {
  font-size: 2em;
  text-shadow: 2px 2px rgba(255, 255, 255, 0.3);
  text-decoration: none;
  color: var(--accent2);
}
